.MessageForm {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex: 1;
}


.MessageInput {
    background-color: #092935e7;
    width: 100%;
    padding-left: 10px;
    color: rgb(216, 219, 206);
}


