.Users {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-right: 1px solid #ccc;
}

.UsersOnline {
    box-sizing: border-box;
    border-bottom: 2px solid #94340b;
    padding: 20px;
    text-align: center;
}

.UsersList {
    margin: 0;
    padding: 0;
}

.UserItem {
    box-sizing: border-box;
    list-style: none;
    border-bottom: 1px dotted #ccc;
    padding: 20px;
    color: #8c310b;
}